@media (max-width: 1100px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  .card {
    
     width: 48%; 
    }
  

}

@media (max-width: 760px) {
  header {
    width: 100%;
   
  }
  .header-text {
    margin: 25% 20%;
    text-align: center;
  }
  h1 {
    font-weight: 700;
    font-size: 28px;
    margin: 0px auto;
  }
  .menu ul {
    flex-direction: column;
    text-align: right;
  }

  .menu ul li:not(:last-child) {
    margin-right: 0;
  }
  nav {
    margin-top: 30px;
  }
  .wraper-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .container {
    margin: 0 5%;
  }

  .contact-icon {
    margin-bottom: 10%;
  }
  .our-advants {
    margin-top: 50px;
}
  .our-advant {
    flex-direction: column;
  }
  .advant {
    margin: 5% auto;
    width: auto;
  }
  .apartments {
    margin-top: 90px;
}

  .house {
    margin-top: 40px;
}


  .card {
    
    width: 75%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
   }

   .video-center img{
    max-width: 100%;
    height: auto;
   }

   .view {
    padding-top: 0px;
    padding-bottom: 0px;
   }
    
   

   .view-content {
    flex-wrap: wrap;
    text-align: center;
    margin: 10% auto;
  }

  .view-watch{
    text-align: center;
    margin: 10% auto;
  }
  .view-text{
    padding: 0;
  }

  .wrapper-qwestion{
    flex-direction: column;
    
  }

  .carta {
    padding-top: 90px;
  }

  .map {
    margin-top: 30px;
  }

  .qwestion {
    margin-top: 90px;
    margin-bottom: 90px;
  }


  .wrapper-footer{
  flex-wrap: wrap;
  }
  footer {
    
    height: 55vh;
   
  }
  footer-text p
  {
    font-size: 10px;
  }
                        
  

}
