@media (max-width: 1100px) {

  .card {
    
    width: 48%;
    }

}

@media (max-width: 760px) {
  header {
    width: 100%;
   
  }



  .header-text {
    margin: 25% 20%;
    text-align: center;
  }
  h1 {
    font-weight: 700;
    font-size: 28px;
    margin: 0px auto;
  }
  .menu ul {
    flex-direction: column;
    text-align: right;
  }

  .menu ul li:not(:last-child) {
    margin-right: 0;
  }
  nav {
    margin-top: 30px;
  }
  .wraper-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .container {
    margin: 0 5%;
  }

  .contact-icon {
    margin-bottom: 10%;
  }

  .our-advant {
    flex-direction: column;
  }
  .advant {
    margin: 5% auto;
    width: auto;
  }
}
